--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
python-multipart
torch
transformers
pillow
sqlalchemy
psycopg2-binary
python-dotenv
requests
numpy
pystac-client
planetary-computer
rasterio
rioxarray
odc-stac
